.closure-setup {
  & .dropdown {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    gap: 16px;
    & .header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      min-width: 100px;
      gap: 6px;
      user-select: none;
      & .icon {
        position: relative;
        height: 16px;
        &.active {
          rotate: 180deg;
        }
      }
    }
    & textarea {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
